.vscode/launch.json
.alpackages/Microsoft_System Application_15.3.40074.40889.app
.alpackages/Microsoft_System_15.0.40073.40791.app
.alpackages/Microsoft_Base Application_15.2.39558.41130.app
.vscode/rad.json
STH_Session_1.0.0.0.app
